.menu {
    display: flex;
    align-self: flex-end;
   
    &__item {
        margin-right: 15px;
    }
    &__link {
        font-size: 1.4rem;
        line-height: 1.4rem;
        text-transform: uppercase;
        color: $light;
        transition: all .5s ease;
        &_dark {
            color: $dark;
            font-weight: 600;
        }
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
    }


    
}